.pos-par {
  position: relative;
}

.login {
  grid-area: mains;
  height: 100vh;
  background-image: url("../../assets/images/login_bckgd.png");
  background-size: cover;
  background-position: 0% 60%;
  background-repeat: no-repeat;
  background-color: linear-gradient(180deg, rgba(209, 209, 209, 0) 0%, #E4E4E4 67.14%);
  max-height: 85vh;
  width: 80vw;
  

  @media (max-width: 1450px) {
    background-position: 50% 0;
    background-size: 140%;
  }

  @media (max-width: 1140px) {
    max-height: 85vh;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 425px) {
    
  }

  @media (max-width: 960px) {
    background-size: 130%;
  }

  @media (max-width: 780px) {
    background-size: 150%;
  }

  @media screen and (max-width: 768px) {
    background-size: 200%;
    background-position: 80% 0;
  }

  @media (max-width: 760px) {
    min-width: 100vw;
    height: 85vh;
    overflow: hidden;
  }

  @media (max-width: 220px) {
    width: 345%;
    height: 1300px;
  }

  p {
    font-family: "SF Pro italic";
    font-size: 48px;
    line-height: 106%;
    letter-spacing: 0.1em;
    color: #8e6321;
    width: 680px;
    height: 155px;
    text-align: left;
    margin-left: 45px;

    @media (max-width: 1570px) {
      font-size: 45px;
      width: 50vw;
    }

    @media (max-width: 1080px) {
      font-size: 40px;
      width: 52vw;
    }
  }
}

.arrow {
  position: absolute;
  z-index: 4;
  left: 75em;
  bottom: 60.5em;

  @media (max-width: 2560px) {
    bottom: 67em;
    left: 130em;
  }

  @media (max-width: 1613px) {
    left: 73em;
  }

  @media (max-width: 1582px) {
    left: 70em;
  }

  @media (max-width: 1547px) {
    left: 68em;
  }

  @media (max-width: 1515px) {
    left: 66em;
  }

  @media (max-width: 1487px) {
    left: 64em;
  }

  @media (max-width: 1455px) {
    left: 62em;
  }

  @media (max-width: 1440px) {
    bottom: 68.5em;
    left: 62em;
  }

  @media (max-width: 1425px) {
    left: 60em;
  }

  @media (max-width: 1420px) {
    left: 64em;
  }

  @media (max-width: 1390px) {
    left: 62em;
  }

  @media (max-width: 1380px) {
    bottom: 61em;
    left: 63em;
  }

  @media (max-width: 1300px) {
    bottom: 61em;
    left: 60em;
  }

  @media (max-width: 1250px) {
    bottom: 61em;
    left: 58em;
  }

  @media (max-width: 1220px) {
    bottom: 61em;
    left: 55em;
  }

  @media (max-width: 1190px) {
    bottom: 61em;
    left: 53em;
  }

  @media (max-width: 1160px) {
    bottom: 61em;
    left: 51em;
  }

  @media (max-width: 1140px) {
    bottom: 61em;
    left: 49em;
  }

  @media (max-width: 1100px) {
    bottom: 61em;
    left: 46em;
  }

  @media (max-width: 1070px) {
    bottom: 61em;
    left: 43em;
  }

  @media screen and (max-width: 1024px) {
    bottom: 68.5em;
  }

  @media screen and (max-width: 768px) {
    left: 25em;
  }

  svg {
    @media (max-width: 2560px) {
      width: 120px;
      height: 28px;
    }

    @media (max-width: 1730px) {
      width: 100px;
      height: 23px;
    }

    @media (max-width: 1340px) {
      width: 70px;
      height: 23px;
    }
  }

}

.arrow-inv {
  display: none;
}

.taxi_image_sign-in {
  position: absolute;
  top: 37em;
  left: 51em;

  @media(max-width: 2560px) {
    left: 80em;
    top: 50em;
  }

  @media(max-width: 1440px) {
    top: 50em;
    left: 40em;
  }

  @media(max-width: 1250px) {
    left: 28em;
  }

  @media(max-width: 930px) {
    left: 8em;
    top: 41em;
  }

  @media(max-width: 860px) {
    left: 10em;
    top: 41em;
  }

  @media screen and (max-width: 768px) {
    top: 52em;
  }

  img {
    width: 100%;

    @media(max-width: 1440px) {
      width: 100%;
    }

    @media(max-width: 1250px) {
      width: 70%;
    }

    @media(max-width: 1180px) {
      width: 80%;
    }

    @media(max-width: 1100px) {
      width: 90%;
    }

    @media(max-width: 1000px) {
      width: 95%;
    }

    @media(max-width: 960px) {
      width: 100%;
    }

    @media(max-width: 930px) {
      width: 100%;
    }

    @media(max-width: 860px) {
      width: 100%;
    }
  }

}
