.login_bck {
  margin-left: -100vw;
  width: 100vw;
  grid-area: login;
  height: 100vh;
  background-image: url("../../assets/images/bckgd-main.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-height: 84vh;
  overflow-x: hidden;

  @media (max-height: 810px) {
    overflow-y: hidden;
    height: 79vh;
  }

  @media (max-height: 640px) {
    height: 76vh;
  }

  @media (max-height: 520px) {
    margin-top: 2%;
  }

  .login {
    min-width: 100%;
    overflow-y: hidden;
    max-height: 86vh;

    grid-area: login;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    p {
      font-family: "SF Pro italic";
      font-size: 48px;
      line-height: 106%;
      letter-spacing: 0.1em;
      color: #8e6321;
      text-align: left;
      padding: 0 2em;
      margin-bottom: 13%;
      position: relative;
      z-index: 1;

      @media (max-width: 1300px) {
        font-size: 40px;
        padding: 1em;
      }

      @media (max-width: 1100px) {
        font-size: 36px;
        padding: 0em 2em;
      }

      @media (max-width: 950px) {
        font-size: 34px;
        padding: 0.5em 1em;
      }

      @media (max-width: 870px) {
        font-size: 30px;
      }

      @media (max-width: 870px) {
        font-size: 26px;
      }

      @media (max-width: 680px) {
        font-size: 22px;
      }

      @media (max-width: 500px) {
        font-size: 20px;
      }

      @media (max-width: 460px) {
        font-size: 18px;
      }
    }

    .desc_inv {
      visibility: hidden;
    }

    .taxi_image_sign-in {
      display: block;
      background: transparent;
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        height: auto;
        width: 100%;
        max-width: 1017px;
        background: transparent;
      }
    }
  }
}
