.main {
  background-image: url("../../assets/images/bckgd-main.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 80.4vh;
  max-width: 80vw;

  @media (min-height: 1120px) {
    min-height: 82vh;
  }

  @media (min-height: 1170px) {
    min-height: 83vh;
  }

  @media (min-height: 1380px) {
    min-height: 84vh;
  }

  @media (min-height: 1480px) {
    min-height: 85vh;
  }

  @media (min-height: 1650px) {
    min-height: 86vh;
  }

  @media (max-width: 1040px) {
    min-width: 100vw;
  }

  @media (max-height: 780px) {
    margin-top: 1%;
  }

  @media (max-height: 710px) {
    margin-top: 2%;
  }

  @media (max-height: 550px) {
    margin-top: 2.5%;
  }

  @media (max-height: 485px) {
    margin-top: 2.4%;
  }

  @media (max-height: 465px) {
    margin-top: 2.3%;
  }

  @media (max-height: 437px) {
    margin-top: 2.2%;
  }

  @media (max-height: 430px) {
    margin-top: 2%;
  }

  @media (max-height: 390px) {
    margin-top: 1.8%;
  }

  @media (max-height: 350px) {
    margin-top: 1.5%;
  }

  .top_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  padding-top: 1em;

  .taxi-obj {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;

    img {
      @media (max-width: 1000px) {
        width: 90%;
      }

      @media (max-height: 900px) {
        width: 90%;
      }

      @media (max-height: 880px) {
        width: 80%;
      }

      @media (max-height: 830px) {
        width: 70%;
      }

      @media (max-height: 780px) {
        width: 60%;
      }

      @media (max-height: 725px) {
        width: 50%;
      }
    }
  }

  .profile-info {
    background-color: #37486a;
    border: 2px solid #f6d738;
    border-radius: 15px;
    color: #ffffff;
    font-family: "SF Pro Italic";
    z-index: 1;

    position: relative;

    display: grid;
    grid-template-rows: 30% 10% 1fr;
    row-gap: 0em;
    padding: 1.5em 0;
    min-height: 30vh;
    max-height: 100%;

    @media (max-height: 1800px) {
      grid-template-rows: 30% 15% 1fr;
    }

    @media (max-height: 1600px) {
      grid-template-rows: 30% 10% 1fr;
    }

    @media (max-height: 1500px) {
      grid-template-rows: 20% 20% 1fr;
    }

    @media (max-height: 1400px) {
      grid-template-rows: 25% 25% 1fr;
    }

    @media (max-height: 1300px) {
      min-height: 35vh;
    }

    @media (max-height: 825px) {
      grid-template-rows: 30% 25% 1fr;
    }

    @media (max-height: 725px) {
      grid-template-rows: 30% 25% 1fr;
    }

    @media (max-width: 630px) {
      width: 20em;
    }

    @media (max-width: 530px) {
      width: 17em;
    }

    @media (max-width: 500px) {
      grid-template-rows: 30% 20% 1fr;
    }

    @media (max-width: 550px) {
      grid-template-rows: 30% 30% 1fr;
    }

    @media (max-width: 450px) {
      width: 16em;
    }

    @media (max-width: 430px) {
      grid-template-rows: 20% 25% 1fr;
      width: 12rem;
      height: 66vh;
      row-gap: 1em;
    }

    @media (max-width: 370px) {
      width: 11rem;
    }

    @media (max-width: 340px) {
      width: 10rem;
    }

    .ava_id {
      padding: 1em 2em;
      padding-bottom: 0;

      display: flex;
      flex-direction: row;
      gap: 2em;
      justify-content: center;

      @media (max-height: 880px) {
        margin-top: -1em;
      }

      @media (max-height: 825px) {
        margin-top: 0em;
      }

      @media (max-height: 760px) {
        margin-top: -1em;
      }

      @media (max-width: 630px) {
        flex-direction: column;
        gap: 0.5em;
      }

      .avatar {
        width: 102px;
        height: 102px;
        background: #d9d9d9;
        background-image: url("../../assets/images/394055-PCQ283-320\ 1.png");
        border-radius: 50%;
        background-repeat: no-repeat;
        align-self: center;

        @media (max-height: 825px) {
          margin-top: -1em;
        }

        @media (max-height: 550px) {
          margin-top: 0em;
          width: 50px;
          height: 50px;
          background-size: 99%;
          background-position: 90% 50%;
        }

        @media (max-width: 870px) {
          width: 80px;
          height: 80px;
          background-size: 100%;
        }

        @media (max-width: 790px) {
          width: 60px;
          height: 60px;
        }

        @media (max-width: 630px) {
          display: none;
        }
      }
      .id_addr {
        color: #ffffff;
        align-self: center;

        .id {
          padding-left: 1vw;
          font-family: "SF Pro Italic";
          font-size: 24px;
          line-height: 100%;

          @media (max-height: 550px) {
            font-size: 18px;
          }

          @media (max-width: 870px) {
            font-size: 20px;
          }

          @media (max-width: 790px) {
            font-size: 16px;
          }

          @media (max-width: 630px) {
            font-size: 15px;
          }

          @media (max-width: 550px) {
            font-size: 14px;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
          }
        }

        .address {
          font-family: "SF Pro Italic";
          font-size: 16px;
          line-height: 100%;

          @media (max-height: 550px) {
            font-size: 13px;
          }

          @media (max-width: 870px) {
            font-size: 14px;
          }

          @media (max-width: 790px) {
            font-size: 12px;
          }

          @media (max-width: 550px) {
            margin-bottom: 0.8em;
            font-size: 11px;
          }

          @media (max-width: 370px) {
            font-size: 10px;
          }
        }
      }

      .copy {
        cursor: pointer;
        background: #353535;
        border-radius: 5px;
        font-family: "SF Pro Italic";
        color: #979795;
        text-align: center;
        font-size: 16px;
        line-height: 100%;
        width: 100px;
        height: 40px;
        border: none;
        transition: all 0.5s;
        align-self: center;

        @media (max-width: 870px) {
          font-size: 14px;
        }

        @media (max-width: 790px) {
          font-size: 12px;
          width: 6em;
        }

        @media (max-width: 660px) {
          width: 6em;
          padding: 0.5em;
        }

        &:hover {
          background-color: #f6d738;
          color: #1a1a1a;
        }

        &:active {
          background-color: black;
          color: white;
        }
      }

      .popCopied {
        position: absolute;
        width: 150px;
        border: 2px solid black;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(91, 76, 0, 0.4);
        font-size: 12px;
        left: 17vw;
        top: 13vh;
        z-index: 3;
      }

      .popDisptd {
        position: absolute;
        width: 150px;
        border: 2px solid black;
        padding: 5px;
        border-radius: 5px;
        background-color: rgba(91, 76, 0, 0.4);
        font-size: 12px;
        left: 17vw;
        top: 13vh;
        z-index: 3;
        opacity: 0;
        transition: all 3s;
      }

      .copy-inactive {
        background: #353535;
        border-radius: 5px;
        font-family: "SF Pro Italic";
        color: #979795;
        text-align: center;
        font-size: 16px;
        line-height: 100%;
        width: 100px;
        height: 40px;
        border: none;
        transition: all 0.5s;
        align-self: center;

        @media (max-width: 870px) {
          font-size: 14px;
        }

        @media (max-width: 790px) {
          font-size: 12px;
          width: 6em;
        }

        @media (max-width: 660px) {
          width: 5em;
          height: 2.5em;
        }
      }
    }

    .pers_stat {
      display: flex;
      flex-direction: row;
      gap: 5vw;
      justify-self: center;
      align-items: center;

      @media (max-height: 910px) {
        margin-top: -1.5em;
      }

      @media (max-height: 875px) {
        margin-top: -1em;
      }

      @media (max-width: 630px) {
        gap: 2.2vw;
      }

      @media (max-width: 620px) {
        gap: 2.2vw;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        gap: 0;
      }

      h4 {
        font-family: "SF Pro normal";
        font-size: 15px;
        line-height: 100%;
        color: #8991a3;

        @media (max-height: 550px) {
          font-size: 13px;
        }

        @media (max-width: 870px) {
          font-size: 13px;
        }

        @media (max-width: 790px) {
          font-size: 12px;
        }

        @media (max-width: 630px) {
          font-size: 11px;
        }

        @media (max-width: 500px) {
          margin: 0;
        }

        &:first-of-type {
          @media (max-width: 500px) {
            margin-top: 1em;
            margin-bottom: 0.2em;
          }
        }
      }
    }

    .amounts_info {
      display: grid;

      grid-template-columns: 1fr 4% 1fr;
      margin-top: auto;
      width: 100%;

      @media (max-width: 500px) {
        grid-template-columns: 90%;
        margin: 0 auto;
      }

      @media (max-width: 430px) {
        display: flex;
        flex-direction: column;
        margin-top: -5em;
      }

      .district_profit {
        background-color: #293a5c;
        border-radius: 0 0 0 15px;
        width: 100%;
        justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 20em;
        max-height: 80%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 49.8%;

        @media (max-height: 1700px) {
          min-height: 18rem;
        }

        @media (max-height: 1400px) {
          min-height: 15rem;
        }

        @media (max-height: 1190px) {
          min-height: 13rem;
        }

        @media (max-height: 1100px) {
          min-height: 12rem;
        }

        @media (max-height: 1000px) {
          min-height: 11rem;
        }

        @media (max-height: 520px) {
          min-height: 10rem;
        }

        @media (max-width: 790px) {
          padding-bottom: 0em;
        }

        @media (max-width: 500px) {
          justify-self: center;
          margin: 0;
        }

        @media (max-width: 430px) {
          position: inherit;
          width: 100%;
          border-radius: 0 0 0 0;
        }

        @media (max-width: 340px) {
          width: 95%;
          margin: 0 auto;
        }

        h3 {
          font-family: "SF Pro normal";
          font-size: 16px;
          line-height: 100%;
          color: #f6d738;
          letter-spacing: 0.15vw;
          text-transform: uppercase;

          @media (max-height: 1300px) {
            margin-bottom: 0;
          }

          @media (max-height: 1100px) {
            font-size: 14px;
          }

          @media (max-height: 510px) {
            font-size: 12px;
          }

          @media (max-width: 870px) {
            font-size: 14px;
          }

          @media (max-width: 790px) {
            font-size: 12px;
          }

          @media (max-height: 725px) {
            margin-bottom: -1em;
          }
        }

        h4 {
          font-family: "SF Pro italic";
          font-size: 26px;
          line-height: 100%;

          @media (max-height: 1300px) {
            margin-bottom: 1.5rem;
          }

          @media (max-height: 1100px) {
            font-size: 22px;
          }

          @media (max-height: 510px) {
            font-size: 18px;
          }

          @media (max-width: 870px) {
            font-size: 24px;
          }

          @media (max-width: 790px) {
            font-size: 20px;
          }

          @media (max-width: 380px) {
            font-size: 15px;
          }

          @media (max-height: 725px) {
            margin-bottom: 0.5em;
          }
        }

        .lets_play {
          width: 8em;
          height: 3em;
          background: #f6d738;
          box-shadow: 0px 3px 7px rgba(91, 76, 0, 0.5);
          border-radius: 5px;
          font-family: "SF Pro italic";
          text-align: center;
          font-size: 22px;
          line-height: 100%;
          color: #171213;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          transition: all 0.5s;

          @media (max-height: 1100px) {
            font-size: 18px;
          }

          @media (max-height: 510px) {
            font-size: 15px;
          }

          @media (max-width: 870px) {
            font-size: 20px;
          }

          @media (max-width: 790px) {
            font-size: 16px;
          }

          @media (max-width: 630px) {
            font-size: 14px;
            width: 8em;
            height: 3em;
          }

          @media (max-width: 380px) {
            font-size: 12px;
          }

          &:hover {
            background-color: #e6c3169d;
          }

          &:active {
            background-color: black;
            color: white;
          }
        }
      }

      .referal_payouts {
        background-color: #293a5c;
        border-radius: 0 0 15px 0;
        width: 100%;
        justify-self: end;
        justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 20rem;
        max-height: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 49.8%;

        @media (max-height: 1700px) {
          min-height: 18rem;
        }

        @media (max-height: 1400px) {
          min-height: 15rem;
        }

        @media (max-height: 1190px) {
          min-height: 13rem;
        }

        @media (max-height: 1100px) {
          min-height: 12rem;
        }

        @media (max-height: 1000px) {
          min-height: 11rem;
        }

        @media (max-height: 520px) {
          min-height: 10rem;
        }

        @media (max-width: 660px) {
          border-radius: 0 0 15px 15px;
          height: 11em;
          margin: 0 auto;
        }

        @media (max-width: 500px) {
          justify-self: center;
          margin: 0;
        }

        @media (max-width: 430px) {
          position: inherit;
          width: 100%;
          border-radius: 0 0 15px 15px;
          position: absolute;
          bottom: 0;
        }

        @media (max-width: 340px) {
          width: 95%;
          margin: 0 auto;
        }

        .check_stats {
          width: 8em;
          height: 3em;

          background: #dd5148;
          box-shadow: 0px 3px 7px rgba(91, 76, 0, 0.5);
          border-radius: 5px;
          font-family: "SF Pro italic";
          text-align: center;
          font-size: 22px;
          line-height: 100%;
          color: #ffffff;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          transition: all 0.5s;

          @media (max-height: 1100px) {
            font-size: 18px;
          }

          @media (max-height: 510px) {
            font-size: 15px;
          }

          @media (max-width: 870px) {
            font-size: 20px;
          }

          @media (max-width: 790px) {
            font-size: 16px;
          }

          @media (max-width: 630px) {
            font-size: 14px;
            width: 8em;
            height: 3em;
          }

          @media (max-width: 380px) {
            font-size: 12px;
          }

          &:hover {
            background-color: #e6c3169d;
          }

          &:active {
            background-color: black;
            color: white;
          }
        }
        h3 {
          font-family: "SF Pro normal";
          font-size: 16px;
          line-height: 100%;
          color: #f2675e;
          letter-spacing: 0.15vw;
          text-transform: uppercase;
          justify-self: center;

          @media (max-height: 1300px) {
            margin-bottom: 0;
          }

          @media (max-height: 1100px) {
            font-size: 14px;
          }

          @media (max-height: 510px) {
            font-size: 12px;
          }

          @media (max-width: 870px) {
            font-size: 14px;
          }

          @media (max-width: 790px) {
            font-size: 12px;
          }

          @media (max-height: 725px) {
            margin-bottom: -1em;
          }
        }

        h4 {
          font-family: "SF Pro italic";
          font-size: 26px;
          line-height: 100%;

          @media (max-height: 1300px) {
            margin-bottom: 1.5rem;
          }

          @media (max-height: 1100px) {
            font-size: 22px;
          }

          @media (max-height: 510px) {
            font-size: 18px;
          }

          @media (max-width: 870px) {
            font-size: 24px;
          }

          @media (max-width: 790px) {
            font-size: 20px;
          }

          @media (max-width: 380px) {
            font-size: 15px;
          }

          @media (max-height: 725px) {
            margin-bottom: 0.5em;
          }
        }
      }
    }
  }

  .personal_link {
    border: 2px solid #f6d738;
    border-radius: 15px;
    background-color: #7e3f3b;
    padding: 2em;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    z-index: 2;

    @media (max-width: 1460px) {
      width: 30%;
    }

    @media (max-width: 1250px) {
      width: 22vw;
    }

    @media (max-width: 1170px) {
      width: 20vw;
    }

    @media (max-width: 1040px) {
      justify-self: center;
    }

    @media (max-width: 660px) {
      justify-self: start;
    }

    @media (max-width: 600px) {
      width: 20vw;
    }

    .stars {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2vw;

      @media (max-width: 660px) {
        gap: 0.5em;
      }
      img {
        @media (max-width: 450px) {
          width: 1.5em;
        }
      }
    }
  }

  .title_link {
    font-family: "SF Pro italic";
    text-transform: uppercase;
    font-size: 34px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5vh;

    @media (max-width: 1250px) {
      font-size: 30px;
    }

    @media (max-width: 1200px) {
      font-size: 28px;
    }

    @media (max-width: 1160px) {
      font-size: 26px;
    }

    @media (max-width: 870px) {
      font-size: 24px;
    }

    @media (max-width: 790px) {
      font-size: 20px;
    }

    @media (max-width: 660px) {
      font-size: 16px;
    }
  }

  .copy_link {
    width: 9em;
    background: #dd5148;
    box-shadow: 0px 3px 7px rgba(91, 76, 0, 0.5);
    border-radius: 5px;
    height: 3em;
    font-family: "SF Pro italic";
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    align-self: center;

    @media (max-width: 870px) {
      font-size: 20px;
    }

    @media (max-width: 790px) {
      font-size: 16px;
    }

    @media (max-width: 580px) {
      font-size: 12px;
    }

    &:hover {
      background-color: black;
      color: white;
    }

    &:active {
      background-color: #56493b;
      color: white;
    }
  }
}
