// .header {
//     grid-area: headers;
//     min-height: 90px;
//     background-color: rgba(26, 26, 26, 1);
//     background-size: cover;
//     align-items: center;
//     overflow-x: hidden;
//     width: 80vw;

//     .header_content {
//     display: flex;
//     justify-content: space-around;

//     .logo_main-dis {
//       display: none;
//     }
//     }

//     .burger {
//         svg {
//           transition: all 0.5s;
//         }
//         svg:hover {
//           fill: #f6d738;
//           transform: scale(1.2);
//         }
  
//         display: none;
  
//       }
  
//       .burger-inactive {
//         display: none;
//       }

//       .out_button_container {
//         display: flex;
//         flex-direction: row;
//         justify-content: end;

//       @media (max-width: 600px) {
//         justify-self: center;
//       }
//       button {
//         background: #353535;
//         border-radius: 5px;
//         width: 9em;
//         height: 3em;
//         color: #979795;
//         font-family: 'SF Pro italic';
//         font-size: 18px;
//         line-height: 100%;
//         text-transform: uppercase;
//         transition: all 0.5s;
//         border: none;
//         padding: 2%;
//         &:hover {
//           background-color: #f6d738;
//           cursor: pointer;
//         }
//         &:active {
//           background-color: #806d11;
//         }

//         @media (max-width: 820px) {
//           font-size: 12px;
//           width: 7em;
//         }

//         @media (max-width: 600px) {
//           justify-content: center;
//         }
//       }
//     }
// }

.header {
  min-width: 100vw;
}
//Layout for unlogged

.header_login {
    min-width: 100vw;
    min-height: 90px;
    background-color: rgba(26, 26, 26, 1);

    .header_unlog {
      display: grid;
      grid-template-columns: 1fr 45%;
      padding: 5em;

      @media (max-width: 820px) {
        padding: 5em 2em;
      }

      @media (max-width: 660px) {
        padding: 5em 1em;
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 6.25em;
        margin-top: -4em;
        padding-bottom: 1em;
      }


      .logo_main {
        justify-self: start;
        align-self: center;

        img {
          width: 10em;

          @media (max-width: 820px) {
            width: 7em;
          }
        }


        @media (max-width: 600px) {
          justify-self: center;
        }
      }

      .arrow {
        justify-self: end;
        align-self: center;

        svg {
          @media (max-width: 800px) {
            width: 4em;
          }

          @media (max-width: 700px) {
            width: 3em;
          }
        }
      }

      .sign_button_container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2em;

        @media (max-width: 600px) {
          justify-content: center;
          margin-left: -5em;
        }

      button {
        background: #F6D738;
        border-radius: 5px;
        width: 9em;
        height: 3em;
        color: #171213;
        font-family: 'SF Pro italic';
        font-size: 18px;
        line-height: 100%;
        text-transform: uppercase;
        transition: all 0.5s;
        border: none;
        padding: 2%;
        &:hover {
          background-color: #353535;
          color: #979795;
          cursor: pointer;
        }
        &:active {
          background-color: #806d11;
        }

        @media (max-width: 820px) {
          font-size: 12px;
          width: 7em;
        }

        @media (max-width: 600px) {
          justify-content: center;
        }
      }
    }
    }

//layout for logged (another grid template)

    .header_content {
      display: grid;
      grid-template-columns: 20% 1fr 15%;
      padding: 5em;

      @media (max-width: 820px) {
        padding: 5em 2em;
      }

      @media (max-width: 660px) {
        padding: 5em 1em;
      }

      @media (max-width: 630px) {
        padding: 5em 0.5em;
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 2em;
        padding: 1em 1em;
      }

      .logo_main {
        justify-self: start;
        align-self: center;

        img {
          width: 10em;

          @media (max-width: 820px) {
            width: 7em;
          }
        }


        @media (max-width: 600px) {
          justify-self: center;
        }
      }

      .balance {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 1em;
  
        @media (max-width: 1400px) {
          margin-right: 2em;
        }

        @media (max-width: 1100px) {
          margin-right: 4em;
        }

        @media (max-width: 870px) {
          margin-right: 6em;
        }

        @media (max-width: 600px) {
          justify-self: center;
          margin-left: 15%;
          margin-right: 15%;
        }

        svg {
          width: 5em;
          align-self: center;
          margin-right: 1.5em;

          @media (max-width: 820px) {
            width: 3em;
            margin-right: 0.7em;
          }
        }
  
        .balance_amount {
          align-self: center;
          display: flex;
          font-family: 'SF Pro bold';
          font-size: 18px;
          line-height: 100%;
          color: #f6d738;

          @media (max-width: 820px) {
            font-size: 15px;
          }

          
          .balance_amount-sum {
            width: 4em;
          }
        }
      }
    }
    
    .burger-inactive {
      display: none;
    }

    

    .burger {
      cursor: pointer;

      svg {
        transition: all 0.5s;
      }

      svg:hover {
        fill: #f6d738;
        transform: scale(1.2);
      }

      display: none;
    }

    .burger-inactive {
      display: none;
    }

    .out_button_container {
        display: flex;
        flex-direction: row;
        justify-content: end;

      @media (max-width: 600px) {
        justify-self: center;
      }

      .arrow-inv {
        display: none;
      }

      button {
        background: #353535;
        border-radius: 5px;
        width: 9em;
        height: 3em;
        color: #979795;
        font-family: 'SF Pro italic';
        font-size: 18px;
        line-height: 100%;
        text-transform: uppercase;
        transition: all 0.5s;
        border: none;
        padding: 2%;
        &:hover {
          background-color: #f6d738;
          cursor: pointer;
        }
        &:active {
          background-color: #806d11;
        }

        @media (max-width: 820px) {
          font-size: 12px;
          width: 7em;
        }

        @media (max-width: 600px) {
          justify-content: center;
        }
      }
    }
}