.navbar {
  grid-area: navbars;
  background-color: #faf1d4;
  max-width: 100%;
  width: 20vw;
  min-height: 100vh;
  height: 100%;

  .close_burger {
    @media (min-width: 1040px) {
      display: none;
    }
  }

  @media (max-width: 1040px) {
    transform: scale(0);
    width: 0;
    transform: translateY(-150%);

    .menu {
      transform: scale(0.5);
    }

    .promo {
      button {
        transform: scale(0.5);
      }
    }
  }

  .logo {
    padding-top: 5vh;
    padding-left: 3vw;
    img {
      width: 105px;
      height: 72px;

      @media (max-width: 1565px) {
        width: 80px;
      }
    }
    svg {
      width: 136px;
      height: 71px;

      @media (max-width: 1565px) {
        width: 90px;
        margin-left: 2vw;
      }

      @media (max-width: 1210px) {
        margin-right: 2vw;
      }
    }
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 8vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 12vh;

    button {
      font-family: 'SF Pro italic';
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: #1a1a1a;
      background-color: #2d2d2d;
      border-radius: 5px;
      width: 240px;
      height: 72px;
      color: #ebc821;
      border: none;
      cursor: pointer;
      transition: all 0.5s;

      @media (max-width: 1380px) {
        font-size: 15px;
        width: 200px;
        height: 60px;
      }

      &:hover {
        background-color: #e6c3169d;
        color: #1a1a1a;
        transform: scale(1.2);
      }

      &:active {
        background-color: black;
        color: white;
      }
    }
  }

  .promo {
    margin-bottom: 5.5vh;
    button {
      font-family: 'SF Pro italic';
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: #1a1a1a;
      background-color: #2d2d2d;
      border-radius: 5px;
      width: 240px;
      height: 72px;
      color: #ebc821;
      border: none;
      cursor: pointer;
      transition: all 0.5s;

      @media (max-width: 1380px) {
        font-size: 15px;
        width: 200px;
        height: 60px;
        margin-bottom: 5vh;
      }

      &:hover {
        background-color: #e6c3169d;
        color: #1a1a1a;
        transform: scale(1.2);
      }

      &:active {
        background-color: black;
        color: white;
      }
    }
  }

  .scroller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-left: 2vw;
    align-items: center;
    width: 15vw;

    .scroller-menu {
      background-color: #171213;
      border-radius: 50%;
      width: 36px;
      height: 36px;

      @media (max-width: 1380px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.navbar-active {
  grid-area: navbars;
  background-color: #faf1d4;
  width: 100%;
  height: 100%;
  z-index: 3;

  transform: scale(1);
  transform: translateY(0%);
  opacity: 1;
  transition: all 1s;

  .blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(30px);
    position: absolute;
    z-index: 2;
  }

  .close_burger {
    svg {
      width: 40px;
      position: absolute;
      bottom: 82vh;
      left: 68vw;

      @media (max-width: 850px) {
        bottom: 77vh;
      }

      @media (max-width: 500px) {
        left: 46vw;
      }

      &:hover {
        stroke: #ebc821;
      }
    }
  }

  .close_burger_closed {
    display: none;
  }

  .logo {
    padding-top: 5vh;
    padding-left: 3vw;

    @media (max-width: 750px) {
      margin-left: 30vw;
      margin-bottom: 10vh;
    }

    @media (max-width: 500px) {
      margin-left: 25vw;
    }

    img {
      width: 105px;
      height: 72px;
    }
    svg {
      width: 136px;
      height: 71px;
    }

    display: flex;
    flex-direction: row;
    margin-left: 35vw;
    margin-bottom: 8vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 12vh;
    transform: scale(1);
    transition: all 2.5s;

    button {
      font-family: 'SF Pro italic';
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: #1a1a1a;
      background-color: #2d2d2d;
      border-radius: 5px;
      width: 240px;
      height: 72px;
      color: #ebc821;
      border: none;
      cursor: pointer;
      transition: all 0.5s;

      @media (max-width: 1380px) {
        font-size: 15px;
        width: 200px;
        height: 60px;
      }

      &:hover {
        background-color: #e6c3169d;
        color: #1a1a1a;
        transform: scale(1.5);
      }

      &:active {
        background-color: black;
        color: white;
      }
    }
  }

  .promo {
    margin-bottom: 5.5vh;
    button {
      font-family: 'SF Pro italic';
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      color: #1a1a1a;
      background-color: #2d2d2d;
      border-radius: 5px;
      width: 240px;
      height: 72px;
      color: #ebc821;
      border: none;
      cursor: pointer;
      transform: scale(1);
      transition: transform 2.5s;

      @media (max-width: 1380px) {
        font-size: 15px;
        width: 200px;
        height: 60px;
        margin-bottom: 5vh;
      }

      &:hover {
        background-color: #e6c3169d;
        color: #1a1a1a;
        transition: all 0.5s;
      }

      &:active {
        background-color: black;
        color: white;
        transition: all 0.5s;
      }
    }
  }

  .scroller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-left: 42vw;

    width: 15vw;

    @media (max-width: 750px) {
      gap: 5vw;
      width: 30vw;
      margin-left: 35vw;
    }

    @media (max-width: 550px) {
      gap: 8vw;
      width: 30vw;
      margin-left: 35vw;
    }

    .scroller-menu {
      background-color: #171213;
      border-radius: 50%;
      width: 36px;
      height: 36px;

      @media (max-width: 1380px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
