.district {
  background-color: #84ccf5;
  height: 88vh;
  // margin-top: 3.4em;
  background-image: url("../../assets/images/district_bckgd.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 80vw;

  @media (max-width: 460px) {
    margin-top: 5vh;
  }

  .levels {
    display: grid;
    margin: 5em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1em;
    width: 70vw;
    margin-top: 2rem;
    margin-bottom: 2em;
    height: 40vh;
    overflow-y: scroll;
    margin-right: -15em;
    padding: 4px;

    @media (max-width: 3258px) {
      margin-left: 17em;
    }

    @media (max-width: 2670px) {
      margin-left: 15em;
    }

    @media (max-width: 2400px) {
      margin-left: 13em;
    }

    @media (max-width: 1950px) {
      margin-left: 11em;
    }

    @media (max-width: 1700px) {
      margin-left: 9em;
    }

    @media (max-width: 1560px) {
      margin-left: 8em;
    }

    @media (max-width: 1300px) {
      margin-left: 6em;
    }

    @media (max-width: 1180px) {
      margin-left: 5em;
    }

    @media (max-width: 1090px) {
      margin-left: 4em;
    }

    @media (max-width: 1040px) {
      margin: 2em auto;
      column-gap: 5em;
      width: 88vw;
      padding-right: 1em;
    }

    @media (max-width: 980px) {
      column-gap: 1em;
    }

    @media (max-width: 750px) {
      margin-left: 9vw;
    }

    @media (max-width: 520px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 460px) {
      margin-bottom: 3em;
      height: 45vh;
    }

    @media (max-width: 430px) {
      grid-template-columns: repeat(3, 1fr);
      padding-right: 0;
    }

    @media (max-height: 750px) {
      margin-bottom: 1em;
      height: 40vh;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: white, $alpha: 0); /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background-color: white; /* цвет плашки */
      border-radius: 20px; /* закругления плашки */
    }

    .level {
      width: 1.8em;
      height: 1.8em;
      background: #f6d738;
      border: 5px solid #000000;
      border-radius: 25px;
      font-family: "SF Pro italic";
      font-size: 60px;
      line-height: 100%;
      color: #171213;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s;

      @media (max-width: 1400px) {
        width: 1.6em;
        height: 1.6em;
      }

      @media (max-width: 750px) {
        width: 1.6em;
        height: 1.6em;
        font-size: 40px;
        padding: 2px;
        border-radius: 15px;
      }

      &:hover {
        border: 3px solid #f6d738;
        transform: scale(0.8);
      }

      &:active {
        border: 3px solid #000000;
        transform: scale(1.03);
        background-color: #f6d738;
        color: white;
      }

      &:focus {
        border: 3px solid #000000;
        transform: scale(1.08);
        background-color: #f6d738;
        color: white;
      }
    }
  }

  .level + .next {
    background-color: rgb(197, 190, 190);
  }

  .level + .inactive {
    background-color: rgb(112, 112, 112);

    &:hover {
      transform: scale(1);
      border: 5px solid #000000;
    }

    &:active {
      border: 5px solid #000000;
      transform: scale(1);
      background-color: rgb(112, 112, 112);
      color: black;
    }
  }

  .taxi_card {
    background: #1f1702;
    border-radius: 15px;
    border: none;
    padding: 3em;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 1700px) {
      padding: 2em;
    }

    @media (max-width: 780px) {
      padding: 0.8em;
    }

    .priceSide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .stars {
        align-self: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;

        @media (max-width: 780px) {
          gap: 1em;
          margin-right: -2.2em;
          margin-bottom: 0.5em;
        }

        @media (max-width: 460px) {
          gap: 0.5em;
        }

        svg {
          @media (max-width: 520px) {
            width: 25px;
          }

          @media (max-width: 460px) {
            width: 20px;
          }
        }
      }
    }

    .taxi_district {
      margin-right: -4.5em;

      @media (max-width: 750px) {
        margin-right: -8em;
        margin-left: -4em;
      }

      @media (max-width: 460px) {
        margin-top: 2em;
        margin-right: -9em;
        margin-left: -6em;
      }

      @media (max-width: 430px) {
        margin-top: 4em;
        margin-right: -10em;
        margin-left: -7em;
      }

      .taxiImg {
        @media (max-width: 780px) {
          width: 90%;
        }

        @media (max-width: 750px) {
          width: 60%;
        }

        @media (max-width: 460px) {
          width: 50%;
        }

        @media (max-width: 430px) {
          width: 40%;
        }
      }
    }

    .district_price {
      background: linear-gradient(118.1deg, #7c5b16 17.68%, rgba(113, 81, 17, 0.97) 88.13%);
      border: 2px solid #f6d738;
      border-radius: 10px;
      width: 18rem;
      height: 12rem;
      margin-left: 2em;

      @media (max-width: 780px) {
        width: 30vw;
        height: 20vh;
      }

      @media (max-width: 750px) {
        width: 25vw;
        height: 15vh;
      }

      @media (max-width: 430px) {
        width: 30vw;
      }

      @media (max-width: 430px) {
        width: 35vw;
      }

      @media (max-width: 430px) {
        width: 37vw;
      }

      .price_table {
        h3 {
          font-family: "SF Pro italic";
          font-size: 16px;
          line-height: 100%;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;

          @media (max-width: 750px) {
            font-size: 14px;
          }

          @media (max-width: 520px) {
            font-size: 12px;
            padding-top: 0.5em;
          }

          @media (max-height: 700px) {
            padding-top: 0;
          }
        }

        h2 {
          font-family: "SF Pro italic";
          font-size: 36px;
          line-height: 100%;
          text-align: center;
          color: #ffffff;

          @media (max-width: 780px) {
            font-size: 26px;
          }

          @media (max-width: 750px) {
            font-size: 23px;
          }

          @media (max-width: 520px) {
            font-size: 17px;
            margin-bottom: 1em;
          }

          @media (max-height: 760px) {
            font-size: 17px;
            margin-bottom: 0.4em;
          }
        }

        button {
          background: #f6d738;
          box-shadow: 0px 3px 7px rgba(91, 76, 0, 0.5);
          border-radius: 5px;
          width: 240px;
          height: 3rem;
          font-family: "SF Pro italic";
          font-size: 24px;
          line-height: 100%;
          text-align: center;
          color: #171213;
          border: none;
          text-transform: uppercase;
          margin-bottom: 2rem;
          cursor: pointer;

          @media (max-width: 780px) {
            width: 7em;
            font-size: 20px;
            padding: 5px;
          }

          @media (max-width: 750px) {
            width: 7em;
            font-size: 15px;
            height: 2.5em;
          }

          @media (max-width: 520px) {
            font-size: 13px;
          }

          &:hover {
            background-color: #000000;
            color: #f6d738;
          }

          &:active {
            background-color: #000000;
            color: white;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
