/*SF bold*/
@font-face {
  font-family: 'SF Pro bold';
  src: url('./assets/fonts/SF-Pro-Display-Bold.otf');
}

/*SF*/
@font-face {
  font-family: 'SF Pro italic';
  src: url('./assets/fonts/SF-Pro-Display-BlackItalic.otf');
}

@font-face {
  font-family: 'SF Pro normal';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf');
}

.App {
  min-height: 100vh;

  margin: 0 auto;
  max-height: 100vh;
  overflow: hidden;

  @media (max-width: 740px) {
    overflow-x: visible;
  }
  .app_content {
    display: grid;
    grid-template-areas:
      'navbars headers'
      'navbars mains';
  }
}
